Django >= 3.0
djangorestframework 
django-filter   # Filtering support
django-redis
coreapi
markdown    # Markdown support for browsable API
jwcrypto    # JWT
psycopg2
django[argon2]
channels
django-redis-cache
Hiredis